* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url('../img/mcp-bg-gradient.png');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    /*
    background-image: radial-gradient(top, 70% 80%, #8D201B 0%, #000000 100%);
    background-image:-webkit-gradient(radial, top, bottom, from( #8D201B)), to( #000000)) !important;
    background-image:-webkit-radial-gradient(top, 70% 80%, #8D201B 0%, #000000 100%);
    background-image:-ms-radial-gradient(50% 100%, #8D201B 0%, #000000 100%);
    */
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size:12px;
    color: white;
    height:100%;
    margin:0px;
    padding:auto;
    width:100%;
}

.app-home {
  padding: 10%;
  margin-bottom: 0px;
  text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:36px;
    font-weight: normal;
    text-shadow: 0px 5px 5px black;
    margin:30px;
    overflow:visible;
    padding:0px;
    text-align:center;
    top: 10px:
    
}

h3 { 
  text-align: center;
  font-weight: normal;
  text-shadow: 0px 2px 2px black;
}

.clock-in-field-group {
  margin: 40px auto;
}

.clock-in-field {
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.46);
  width: 70%;
  border: none;
  height: 30px;
  margin: 15px;
  border-radius: 5px;
}

.clock-in-button {
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.65) 0%, #601511 60%);
  box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.46);
  border-radius: 7px;
  border: none;
  font-size: 20px;
  font-weight: normal;
  color: white;
  text-shadow: 0px 2px 5px black;
  width: 50%;
  height: 50px;
  margin-top: 25px;
}

.app-dash {
  display: none;
  height: 1em;
}

.dash-head {
  height: 1em;
}

.employee-name {
  float: left;
  margin: .5em;
}

button {
  background-color: rgba(255,255,255, 0.15);
  color: white;
  border: .1em solid white;
  border-radius: .5em;
}

.clockout-button {
  float: right;
  margin: .8em;
  height: 2.5em;
}

.location-name {
  height: auto;
}

.app-dash h1 {
  margin: 0px;
}

.notifications {
  height: 6.5em;
  overflow-y: auto;
}

.vehicles-in-transit {
  border: .2em solid white;
  border-radius: 1em;
  height: 10em;
  margin: 0px 5% 0px 5%;
  overflow:auto;
}

.return-button {
  text-align: right;
}

.return-button button {
  height: 2.5em;
}


.new-vehicle-form {
  text-align: center;
  border-collapse: separate;
}

.new {
  margin-bottom: 0em;
}

.new-vehicle-form tr {
  height: 3em;
}

.new-vehicle-form input {
  height: 2em;
  width: 4em;
  margin: 0px .3em;
  border: .1em solid white;
  border-radius: .5em;
  background-color: rgba(0,0,0, 0.0);
}

.new-vehicle-form select {
  border: .1em solid white;
  border-radius: .5em;
  background: rgba(0,0,0,.0);
  color: white;
  height: 2.5em;
  width: 6em;
  margin-top: 1.3em;
}

.new-vehicle-form button {
  margin-left: 1em;
  margin-top: 1.3em;
  height: 2.5em;
}

.vehicle-count {
  margin-top: 1.5em;
}

.all-vehicles { 
  border: 2px solid white;
  border-radius: 1em;
  height: 15em;
  margin: 0em 5% .15em 5%;
  overflow:auto;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0em 5%;
}

tr {
  border-bottom: .1em solid white;
}

td {
  text-align: center;
}

.pull-up-button {
  text-align: right;
}

.pull-up-button button {
  height: 2.5em;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-top: .5em;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
