<div class="splash-wrap">
  <h2 class="text-center" >Getting your vehicle from valet is as easy as saying</h2> 
  <h1><%= button_to "\"Please\"", new_customer_path, method: :get, class: "btn" %></h1>
  <p>What is this?</p>
  <span class="glyphicon glyphicon-chevron-down"></span>
</div>
