<div class="splash-wrap">
  <div class="page-head">
    <h3><%= link_to "MCP", root_path %></h3>
  </div>
  <h2 class="text-center" >Getting your vehicle from valet is as easy as saying</h2> 
  <div class="btn"><h1>"Please"</h1></div>
  <p>What is this?</p>
  <span class="glyphicon glyphicon-chevron-down"></span>
</div>
