<div class="customer-final">
  <h1>Thank You!</h1>
  <h3>
    Your request has been sent. Soon you will
    recieve another text message including your
    valet fee and the amount of time until your 
    vehicle is ready for you. Please understand 
    that this time may vary from 2-20 minutes.
    <br>
    <br>
    Thank you for your cooperation!
  </h3>
  <p>
    If you enjoyed our service, click here to 
    see where else you can find us.
  </p>
</div>
